.footer {
	position: relative;
	width: 100%;
	height: auto;
	padding: 50px 30px;
	background: #333;
	.container {
		max-width: 1800px !important;
	}
	.aboutus {
		position: relative;
		margin-bottom: 20px;
		.sub {
			color: #999;
			font-size: 17px;
			font-weight: 600;
			letter-spacing: 2px;
		}
		h1 {
			font-size: 35px;
			color: #fff;
			font-weight: 700;
			margin: 0;
			font-family: 'Rancho', cursive;
			span {
				color: #708053;
			}
			@media (min-width: $md) {
				font-size: 40px;
			}
			@media (min-width: $lg) {
				font-size: 50px;
			}
		}
		p {
			color: #fff;
			font-size: 16px;
			font-weight: 200;
			text-align: justify;
			margin: 15px 0;
		}
		.sci {
			display: flex;
			li {
				list-style: none;
				a {
					display: inline-block;
					width: 40px;
					height: 40px;
					background: #222;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-right: 10px;
					text-decoration: none;
					border-radius: 4px;
					transition: .3s;

					&:hover {
						background: #708053;
					}
					i {
						color: #fff;
						font-size: 20px;
					}
				}
			}
		}
	
	}
	.quicklinks {
		position: relative;
		margin: 0 auto;
		@media (min-width: $lg) {
			padding-left: 30px;
		}
		h1 {
			font-size: 18px;
			color: #fff;
			font-weight: 400;
			text-transform: uppercase;
			@media (min-width: $md) {
				font-size: 20px;
			}
			span {
				color: #708053;
			}
		}
		.menu-footer-container {
			margin: 20px 0;
			#footer_menu {
				position: relative;
				li {
					list-style: none;
					margin-bottom: 5px;
					@media (min-width: $lg) {
						margin-bottom: 10px;
					}
					a {
						font-size: 16px;
						text-decoration: none;
						color: #fff;
						font-weight: 100;
						font-family: 'Poppins', sans-serif;
						transition: .3s;
						@media (min-width: $lg) {
							font-size: 18px;
						}
						&:hover {
							color: #708053;
						}
					}
				}
			}
		}
	}
	.contact {
		position: relative;
		margin: 20px 0;
		@media (min-width: $md) {
			margin: 0;
		}
		h1 {
			font-size: 18px;
			color: #fff;
			font-weight: 400;
			text-transform: uppercase;
			@media (min-width: $md) {
				font-size: 20px;
			}
			span {
				color: #708053;
			}
		}
		.info {
			position: relative;
			margin: 20px 0;
			li {
				list-style: none;
				display: flex;
				align-items: center;
				margin-bottom: 16px;
				span {
					color: #999;
					font-size: 16px;
					font-weight: 300;
					&:nth-child(1) {
						color: #fff;
						font-size: 20px;
						margin-right: 10px;
					}
					a {
						color: #999;
						text-decoration: none;
						transition: .3s;
						&:hover {
							color: #708053;
						}
					}
				}
			}
		}
	}
	.maps {
		position: relative;
		margin: 20px 0;
		@media (min-width: $lg) {
			margin: 0;
		}

		iframe {
			width: 100%;
		}
	}
}
.copyrightTxt {
	width: 100%;
	background: #181818;
	padding: 8px 100px;
	text-align: center;
	color: #999;
	font-size: 15px;
	p {
		margin: 0;
	}
}
.accredited {
	h1 {
		color: #fff;
		font-weight: 600;
		font-size: 16px;
		margin: 0 0 20px;
	}
	.accredited-logos {
		display: flex;
		overflow: hidden;
		div:nth-child(1){
			img {
				width: 60px;
			}
		}
		div:nth-child(2){
			margin-left: 10px;
			img {
				width: 146px;
			}
		}
	
	}
}