#wrapper-navbar {
	&.page {
		background: transparent;
	}

position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 10px 0;
background: transparent;
z-index: 100;
transition: 0.3s ease-in-out;
@media (max-width: 992px) {
	background: #333;
}
&.sticky {
	background: #333;
	padding: 0;
	box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
	#main-nav {
		.brand-name {
			a {
				color: #708053;
			}
		}
		ul {
			li {
				position: relative;
				a {
					color: #999;
				}
				&::after {
					content: "";
					position: absolute;
					left: -100%;
					bottom: 0;
					width: 100%;
					border-bottom: 2px solid #708053;
					transition: .5s;
				}
				&:hover {
					a {
						color: #708053;
					}
				}
				&.current-menu-item {
					a {
						color: #708053;
					}
					&::after {
						content: "";
						position: absolute;
						left: 0;
						bottom: 0;
						width: 100%;
						border-bottom: 2px solid #708053;
					}
				}
				&:hover:last-child {
					border-color: #708053;
					a {
						color: #708053;
					}
				}
				&:last-child.current-menu-item {
					border: 2px solid #F4CE37;
					a {
						color: #F4CE37;
					}
				}
			}
		}
	}
}

#main-nav {
	.brand-name {
		a {
			color: #fff;
			font-size: 5.5rem;
			text-decoration: none;
			font-weight: 200;
			transition: color 0.1s ease;
			font-family: 'Rancho', cursive;
			@media (max-width: 576px) {
				font-size: 2.5rem;
			}
			@media (max-width: 992px) {
				font-size: 3.5rem;
			}
			img {
				width: 290px;
				object-fit: contain;
			}
		}
	}
	ul {
		position: relative;
		display: flex;
		align-items: center;
		li {
			position: relative;
			margin-right: 20px;
			overflow: hidden;
			transition: .3s;
			&:last-child {
				margin-right: 0;
				border: 2px solid #F4CE37;
				transition: .3s;
				a {
					color: #F4CE37;
					transition: .3s;
				}
				&.current-menu-item {
					border: 2px solid #fff;
					a {
						color: #fff;
					}
					&::after {
						content: "";
						border: 0;
					}
				}
				&::after {
					content: "";
					border: 0;
				}
				&:hover {
					border: 2px solid #fff;
					a {
						color: #fff;
					}
				}
		
			}
	
			a {
				font-size: 1.8rem;
				color: #708053;
				text-transform: uppercase;
				font-weight: 600;
				letter-spacing: 0.2rem;
				padding: 5px 10px;
				@media (max-width: 992px) {
					font-size: 1.3rem;
				}
			}
			&.current-menu-item {
				a {
					color: #fff;
				}
				&::after {
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					border-bottom: 2px solid #fff;
				}
			}
			&::after {
				content: "";
				position: absolute;
				left: -100%;
				bottom: 0;
				width: 100%;
				border-bottom: 2px solid #fff;
				transition: .5s;
			}
			&:hover::after {
				left: 0;
			}
			&:hover {
				a {
					color: #fff;
				}
			}
		}
	}

	.navbar-toggler {
		position: relative;
		.bar {
			width: 100%;
			height: 3px;
			border-radius: 4px;
			background-color: #708053;
			margin-bottom: 0.3rem;
		}
		.title {
			color: #708053;
			font-size: 1rem;
			text-transform: uppercase;
			font-weight: 600;
		}
	}
}
}
#navbarNavDropdown.show {
	#main-menu {
		li:last-child {
			border: 0;
			a {
				color: #708053;
			}
			&:hover {
				border: 0;

				&::after {
					content: "";
					position: absolute;
					left: -100%;
					bottom: 0;
					width: 100%;
					border-bottom: 2px solid #fff;
					transition: .5s;
				}
			}
	
		}
	}
}